<?xml version='1.0' encoding='utf-8'?>
<widget id="com.voltbuilder.sample" xmlns="http://www.w3.org/ns/widgets" version="1.0.0">
  <name>Calculator App</name>
  <description>This is a calculator app with all the basic functions and operations.</description>
  <plugin name="cordova-plugin-device" />
  <access origin="*" />
</widget>